@import "../../../../shared/assets/styles/globals";


.item {
  @extend .h2;
  padding-left: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    color: $white-100;
  }

  &:last-child {
    margin-top: auto;
  }

  //&:nth-child(1) {
  //  --iconColor1: #6FCF97;
  //  --iconColor2: #27AE60;
  //  &:before {
  //    background: $grNavigationGreen;
  //  }
  //}
  //
  //&:nth-child(2) {
  //  --iconColor1: #F2C94C;
  //  --iconColor2: #F2994A;
  //  &:before {
  //    background: $grNavigationYellow;
  //  }
  //}
  //
  //&:nth-child(3) {
  //  --iconColor1: #F2C94C;
  //  --iconColor2: #F2994A;
  //
  //  &:before {
  //    background: $grNavigationPurple;
  //  }
  //}
  //
  //&:nth-child(4) {
  //  --iconColor1: #F2C94C;
  //  --iconColor2: #F2994A;
  //
  //  &:before {
  //    background: $grNavigationRed;
  //  }
  //}
  //
  //&:nth-child(5) {
  //  --iconColor1: #F2C94C;
  //  --iconColor2: #F2994A;
  //
  //  &:before {
  //    background: $grNavigationWhite;
  //  }
  //}

  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white-90;
  }

  a.active {
    color: $white-100;
  }

}